.navBar {
  background-color: #0b0b2a;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 100000;
}

.navBar-img {
  max-width: 220px;
}

.navBar-menu {
  display: flex;
  font-size: 20px;
}

.navBar-ul {
  padding: 8px 13px;
  position: relative;
}

.navBar-icon {
  color: rgba(255, 255, 255, 0.5);
}

.navBar-submenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar-submenu-new {
  background-color: red;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 10px;
  font-weight: 900;
}

.navBar-li-jobSeekers li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar-ul:hover {
  border-radius: 5px;
  background-color: #2e55fa;
  transition: 300ms;
}

.navBar-li-jobSeekers {
  display: none;
  position: absolute;
  background-color: #222339c2;
  z-index: 10000;
  font-size: 14px;
  width: 250px;
  border: 1px solid rgba(255, 255, 255, 0.425);
  border-radius: 5px;
  padding: 10px 0;
}

.navBar-li-jobSeekers a {
  display: block;
  padding: 6px 20px;
}

.navBar-li-jobSeekers a:hover,
.navBar-li-jobSeekers li:hover {
  background-color: #2e55fa;
  transition: 300ms;
  border-radius: 5px;
  cursor: pointer;
}

ul.navBar-ul:hover .navBar-li-jobSeekers {
  display: block;
  right: 0;
  margin-top: 7px;
}

.navBar-button {
  display: flex;
}

@media (max-width: 576px) {
  .navBar-img {
    width: 180px;
  }
}

@media (max-width: 1000px) {
  .navBar-ul {
    display: none;
  }
  .navBar {
    justify-content: space-between;
  }
  .navBar-img {
    margin-right: 5px;
  }
}
@media (max-width: 1093px) {
  .navBar-ul li {
    font-size: 18px;
  }
}
